.mountain {
  height: 25rem;
  width: 50rem;
  border-radius: 1rem;
}

.firstbodytext {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textone {
  padding-right: 20px;
}

.park {
  height: 25rem;
  width: 50rem;
  border-radius: 1rem;
}

.secondbodytext {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.texttwo {
  padding-left: 20px;
}

.mountains {
  height: 25rem;
  width: 50rem;
  border-radius: 1rem;
}

.thirdbodytext {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textthree {
  padding-left: 20px;
}

h1 {
  text-align: center;
}
body {
  background-color: darkolivegreen;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
